 .form{
    background-color: rgb(52, 221, 237);
    background-size:cover;
   
   
    
  
} 

form{
    background-color:rgb(233, 242, 243);
    height:800PX;
    width:600PX;    
    display:flex;
    flex-direction:column;
    align-content:center;
    font-size:20px;
    padding:20px;
    margin-top:5px;
    margin-bottom:50px;
    
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    color:rgb(233, 242, 243);
    text-align:center;
    padding: 25px;
    margin-top: 25px;
    margin-bottom:0px;;
 
}
.box{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.btn{
    height:100px;
    width:100px;
    color:rgb(251, 165, 5);
    background-color: azure;
    font-size:15px;
    border-radius:8px;
}

#clean{
    height:100px;
    width:100px;
    color:rgb(251, 165, 5);
    background-color: azure;
    font-size:15px;
    border-radius:8px;
    
}

table th{
     border: 2px solid black;
     margin-top:15px;
    
}

table{
    border-collapse: collapse;
    width:100%;
    margin-top:15px;
    font-size:20px;
    background-color:#98bbc6;
    
    color:rgb(7, 7, 7);
}


table td{
    border: 2px solid black;
    margin-top:15px;
   
}
input{
    padding:15px;
}
